$color-container: rgb(218, 170, 14);
$color1: rgb(127, 236, 55);
$color2: rgb(255, 255, 255);
$color3: rgb(212, 213, 216);
$color4: rgb(170, 240, 113);
$color5: rgb(58, 107, 212);
$color6: rgb(49, 49, 48);
$color7: rgb(255, 255, 255);
$fontA: Arial, Helvetica, Sans-Serif;
$fontB: 'Sacramento';
$fontTransf: cursive; 